.container {
}
h1 {
  margin-bottom: 0;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 20px auto;
}
.weather-app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(144, 182, 226, 0.7);
}
li {
  list-style: none;
}
.temp {
  font-size: 60px;
  line-height: 64px;
}
.unit {
  position: relative;
  font-size: 14px;
  top: -20px;
}
