body {
  background-image: url("images/clouds1.jpg");
}
.container {
  text-transform: capitalize;
}
h1 {
  margin-bottom: 0;
}
.weather-app-wrapper {
  max-width: 700px;
  margin: 20px auto;
}
.weather-app {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 30px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(144, 182, 226, 0.7);
  background: linear-gradient(
    145deg,
    rgba(132, 132, 224, 0.7),
    rgba(86, 171, 204, 0.4),
    rgba(174, 180, 207, 0.8) 20%
  );
  background-size: cover;
}

.weather-temperature img {
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.weather-temperature span {
  position: relative;
  font-size: 14px;
  top: -30px;
}
li {
  list-style: none;
  text-align: right;
}
.weather-forecast {
  margin-top: 20px;
  padding: 10px auto;
}
.weather-forcast .forecast-date {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.forecast-min {
  opacity: 0.7;
}
